body {
    font-family: Arial, sans-serif;
    margin: 40px auto;
    max-width: 1200px;
    background-color: #f3f4f6;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2, h3 {
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px 0;
}

button {
    padding: 5px 15px;
    margin-right: 10px;
    border: none;
    border-radius: 3px;
    background-color: #007BFF;
    color: #fff;
    cursor: pointer;
}

#battle-log {
    max-height: 400px;
    overflow-y: scroll;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
}

.effects-container {
    min-height: 100px;
    max-height: 100px; /* Set a fixed height */
    overflow-y: auto; /* This will add a scrollbar if the content inside exceeds the max-height */
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 3px;
    background-color: #eaeaea;
    margin-top: 5px;
}

.button-container {
    margin-top: 20px;
}

.container {
    display: flex;
    justify-content: space-between; /* This will put some space between the columns */
    margin-bottom: 20px; /* Add some space at the bottom */
}

.column {
    flex: 1; /* Each column takes up an equal amount of space */
    padding: 0 10px; /* A bit of padding to make it look nice */
    box-sizing: border-box; /* To include padding in the total width calculation */
}

.hp-bar-container {
    width: 100%;
    height: 20px;
    border: 1px solid #4a4a4a;
    border-radius: 12px; /* Increased for a pill-like appearance */
    position: relative;
    margin: 10px 0;
    overflow: hidden; /* To keep the rounded corners */
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15); /* Soft shadow for depth */
    background-color: #e6e6e6; /* Light grey background for the empty part of the bar */
}

.hp-bar {
    height: 100%;
    background: linear-gradient(to right, #ff1a1a, #ff4d4d); /* Gradient from darker to lighter red */
    position: absolute;
    top: 0;
    left: 0;
    transition: width 0.25s ease; /* Smooth transition for the bar */
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.2); /* Inset shadow for a more 3D look */
}

.hp-text {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%); /* To vertically center the text */
    z-index: 2; /* To ensure text is above the bar */
    font-weight: bold; /* Bold text for better readability */
    color: #333; /* Darker text color for contrast */
}

.energy-bar-container {
    width: 100%;
    height: 20px;
    border: 1px solid #4a4a4a;
    border-radius: 12px; /* Pill-like appearance */
    position: relative;
    margin: 10px 0;
    overflow: hidden; /* To keep the rounded corners */
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15); /* Soft shadow for depth */
    background-color: #e6e6e6; /* Light grey background for the empty part of the bar */
}

.energy-bar {
    height: 100%;
    background: linear-gradient(to right, #0066ff, #3399ff); /* Gradient from darker to lighter blue */
    position: absolute;
    top: 0;
    left: 0;
    transition: width 0.25s ease; /* Smooth transition for the bar */
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.2); /* Inset shadow for a more 3D look */
}

.energy-text {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%); /* To vertically center the text */
    z-index: 2; /* To ensure text is above the bar */
    font-weight: bold; /* Bold text for better readability */
    color: #333; /* Darker text color for contrast */
}

.avatar {
    width: 50px; /* Adjust as needed */
    height: 50px;
    border-radius: 50%; /* Makes the image circular */
    margin-right: 10px; /* Spacing, adjust as needed */
}