<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Turn-based Battle Game</title>
</head>
<body>
    <h1>Turn-based Battle Game</h1>
    <h2>Tick: {{ tick }}</h2>

    <section>
        <h2>Player Team Status:</h2>

        <!-- Point Venari -->
        <div>
            <h3>Point Venari:</h3>
            <p>
            {{ team1_status[0]['name'] }}({{ team1_status[0]['level'] }}) -
            HP: {{ team1_status[0]['battle_stats']['hp'] }},
            Energy: {{ team1_status[0]['battle_handler']['energy'] }},
            Next Attack: {{ team1_status[0]['battle_handler']['attack_tick_counter'] }} ticks
            </p>
            <div class="effects-container">
                Effects:
                {% for effect in team1_status[0]['battle_handler']['active_effects'] %}
                    <p>{{ effect['name'] }}({{ effect['duration'] }}),</p>
                {% endfor %}
            </div>
            <!-- Ability Button for Point Venari -->
            {% if team1_status[0]['battle_handler']['energy'] == 100 %}
            <form method="post" style="display: inline;">
                <button type="submit" name="action" value="ability">Ability</button>
            </form>
            {% endif %}
        </div>

        <!-- Bench Venari -->
        <div>
            <h3>Bench:</h3>
            <ul>
            {% for venari in team1_status[1:] %}
            <li>
                {{ venari['name'] }}({{ venari['level'] }}) -
                HP: {{ venari['battle_stats']['hp'] }},
                Energy: {{ venari['battle_handler']['energy'] }},
                Next Attack: {{ venari['battle_handler']['attack_tick_counter'] }} ticks
                Effects:
                {% for effect in venari['battle_handler']['active_effects'] %}
                    {{ effect['name'] }}({{ effect['duration'] }}),
                {% endfor %}
                <!-- Swap button -->
                {% if venari['battle_handler']['swap_cooldown'] == 0 %}
                    <form method="post" style="display: inline;">
                        <button type="submit" name="action" value="swap_{{ loop.index0 }}">Swap</button>
                    </form>
                {% else %}
                    | Swap Cooldown: {{ venari['battle_handler']['swap_cooldown'] }} ticks
                {% endif %}
            </li>
            {% endfor %}
            </ul>
        </div>
    </section>

    <div>
        <h3>AI Point Venari:</h3>
        <p>
        {{ team2_status[0]['name'] }}({{ team2_status[0]['level'] }}) -
        HP: {{ team2_status[0]['battle_stats']['hp'] }},
        Energy: {{ team2_status[0]['battle_handler']['energy'] }},
        Next Attack: {{ team2_status[0]['battle_handler']['attack_tick_counter'] }} ticks
        Effects:
        {% for effect in team2_status[0]['battle_handler']['active_effects'] %}
            {{ effect['name'] }}({{ effect['duration'] }}),
        {% endfor %}
        </p>
    </div>

    <!-- Bench Venari -->
    <div>
        <h3>Bench:</h3>
        <ul>
        {% for venari in team2_status[1:] %}
        <li>
            {{ venari['name'] }}({{ venari['level'] }}) -
            HP: {{ venari['battle_stats']['hp'] }},
            Energy: {{ venari['battle_handler']['energy'] }},
            Next Attack: {{ venari['battle_handler']['attack_tick_counter'] }} ticks
            Effects:
            {% for effect in venari['battle_handler']['active_effects'] %}
                {{ effect['name'] }}({{ effect['duration'] }}),
            {% endfor %}
        </li>
        {% endfor %}
        </ul>
    </div>
    </section>

    <section>
        <!-- Next Tick Button -->
        <div>
            <form id="next-tick-form" method="post" style="display: inline;">
                <input type="hidden" name="action" value="next_tick" />
                <button type="submit" name="action" value="next_tick">Next Tick</button>
            </form>
        </div>
        <!-- Start New Game Button -->
    </section>
    <section>
        <div>
            <form method="post" style="display: inline;">
                <button type="submit" name="action" value="new_game">New Game</button>
            </form>
        </div>
    </section>
    <section>
        <h2>Battle Log:</h2>
        <div id="battle-log">
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
    </section>
    <script>
    // Store the timeout ID in a variable
    var nextTickTimeout;

    document.addEventListener("DOMContentLoaded", function() {
        var battleLog = document.getElementById("battle-log");
        battleLog.scrollTop = battleLog.scrollHeight;

        // // Clear the timeout if any form is submitted
        // var forms = document.getElementsByTagName('form');
        // for (var i = 0; i < forms.length; i++) {
        //     forms[i].addEventListener("submit", function() {
        //         clearTimeout(nextTickTimeout);
        //     });
        // }

        // // Set the timeout
        // nextTickTimeout = setTimeout(function() {
        //     document.getElementById("next-tick-form").submit();
        // }, 3000);  // 3000 milliseconds = 3 seconds
    });
    </script>
</body>
</html>
